.error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  padding: 100px 0;

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 50px;
      font-variant: all-petite-caps;
    }
  }
}
