.film {
  background: #1e1e1e;

  &__btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    & button {
      font-size: 25px;
      line-height: 29.3px;
      padding: 14px 44px;
    }
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      & .MuiRating-icon.MuiRating-iconEmpty.css-1c99szj-MuiRating-icon {
        color: #e8920b;
      }

      & p {
        font-size: 16px;
        font-weight: 600;
        line-height: 18.75px;
        text-align: left;
        color: #fff;
      }
    }
  }

  &__title {
    font-size: 42px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;

    &__image {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 50px;

      & img:nth-child(1) {
        width: 100%;
        border-radius: 20px;
      }
    }

    &__movie {
      width: 65%;

      &__stars {
        display: flex;
        justify-content: flex-end;
      }

      & video {
        border-radius: 20px;
        width: 100%;
        height: 420px;
        object-fit: cover;
      }

      &__shots {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 163px;

        &__block {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        &__item {
          display: flex;
          width: 100%;
          height: 100%;

          & img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            height: 100%;
          }
        }
      }
    }
  }

  .film__box__users {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & p {
      font-size: 24px;
      font-weight: 600;
      line-height: 28.13px;
      color: #fff;
      width: 63px;
      height: 63px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 1px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

.details__card {
  display: flex;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin-bottom: 60px;
  flex-wrap: wrap;
  border-bottom: 1px solid #e69500;
  padding: 20px 0 50px 0;
}

.details__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e69500;
  margin-bottom: 40px;

  &__text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;

    & h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 35.16px;
    }
  }
}

.details, .storyline {
  flex: 1;
  margin-right: 20px;

  & h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.storyline {
  & p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.75px;
  }
}

.details:last-child {
  margin-right: 0;
}

.details__content p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

.details-content div {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.details {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    &__text {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      border-bottom: 1px solid #e69500;
      padding-bottom: 10px;
    }
  }
}
