.profile {
  background: #1c2827;
  color: white;
}

.profile__page {
  background: #060808;
  border-radius: 50px;
  & p{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 49.22px;
    padding: 40px 0;
  }
}
