.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1c2827;
  padding-top: 200px;
  position: relative;

  &__input__file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &__label {
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      line-height: 21.09px;
      color: #135F55;
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 3px;

      & svg {
        border-bottom: 2px solid #135F55;
        padding: 2px;
      }
    }
  }


  &__page {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 55px 50px;
    border-radius: 50px;
    margin-bottom: 180px;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;

    & h1 {
      font-size: 42px;
      font-weight: 600;
      line-height: 49.22px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__instruction {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;

    & p {
      font-size: 24px;
      font-weight: 600;
      line-height: 28.13px;
      text-align: left;
      color: #E8920B;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
    }

    &__file {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
      position: relative;

      &__block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 60px;
        flex-direction: column;

        &__img {
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          position: relative;

          & img {
            width: 100%;
            height: 220px;
            background: #fff;
            border: 2px solid #135F55;
            object-fit: contain;
            border-radius: 10px;
          }
        }

        &__first {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 60%;

          & .register__error {
            color: #cd3d64;
            font-weight: bold;
            background: #fff;
            border: 2px solid #cd3d64;
            border-radius: 7px;
            padding: 6px 18px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 11px;

            & svg {
              margin-right: 5px;
            }
          }

          & p {
            color: #fff;
          }
        }
      }
    }

    &__data {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 60px;
      flex-wrap: wrap;

      & label {
        width: 44%;
        margin: 0 30px 10px 30px;
        height: 110px;
        position: relative;

        & svg.lock {
          position: absolute;
          color: #135F55;
          padding: 2px;
          top: 3px;
          right: 3px;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
        }

        & .password__toggle__icon {
          position: absolute;
          color: #000;
          right: 10px;
          top: 24px;
          cursor: pointer;
        }

        & input {
          width: 100%;
        }

        & .error__input {
          border: 2px solid red;
        }

        & .register__error {
          color: #cd3d64;
          font-weight: bold;
          background: #fff;
          border: 2px solid #cd3d64;
          border-radius: 7px;
          padding: 6px 18px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 11px;

          &__icon {
            margin-right: 5px;
          }
        }

        & .register__ok {
          color: #008B62;
          font-weight: bold;
          background: #fff;
          border: 2px solid #008B62;
          border-radius: 7px;
          padding: 6px 18px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 11px;

          & svg {
            margin-right: 5px;
          }
        }
      }
    }

    &__card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 58px;

      &__block {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;

        & img {
          width: 100%;
          position: absolute;
        }
      }

      &__input {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 0 0 30px;

        &__name {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 50px;

          & label {
            width: 100%;
            height: 100px;

            & .card__error {
              color: #cd3d64;
              font-weight: bold;
              background: #fff;
              border: 2px solid #cd3d64;
              border-radius: 7px;
              padding: 6px 18px;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 11px;

              & svg {
                margin-right: 3px;
              }
            }

            & .card__ok {
              color: #008B62;
              font-weight: bold;
              background: #fff;
              border: 2px solid #008B62;
              border-radius: 7px;
              padding: 6px 18px;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 11px;

              & svg {
                margin-right: 3px;
              }
            }
          }
        }

        &__date {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          & label {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% / 3 - 44px);
            height: 120px;
            justify-content: flex-start;

            & .card__error {
              color: #cd3d64;
              font-weight: bold;
              background: #fff;
              border: 2px solid #cd3d64;
              border-radius: 7px;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 11px;
              line-height: 3;
              padding-left: 8px;
              height: 30px;

              & svg {
                margin-right: 3px;
              }
            }

            & .card__ok {
              color: #008B62;
              font-weight: bold;
              background: #fff;
              border: 2px solid #008B62;
              border-radius: 7px;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 11px;
              line-height: 3;
              padding-left: 8px;
              height: 30px;

              & svg {
                margin-right: 3px;
              }
            }
          }

          & .minus__span {
            color: #fff;
            font-size: 37px;
            font-weight: 400;
            line-height: 43.36px;
            position: relative;
            top: -15px;
          }
        }
      }
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 90px;
    position: absolute;
    bottom: -250px;
    right: -52px;

    & button {
      padding: 8px 80px;
    }
  }
}
