.signIn {
  padding-top: 50px;
  background: #1c2827;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .signIn__box {
    width: 60%;
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    align-items: center;
    margin: 0 auto 100px;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 64%;

      & label {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        & input {
          width: 100%;
          margin-bottom: 10px;
        }

        & span {
          color: #cd3d64;
          font-weight: bold;
          background: #fff;
          border: 2px solid #cd3d64;
          border-radius: 7px;
          padding: 6px 18px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & svg {
            margin-right: 5px;
          }
        }

        & span.register__ok {
          color: #008B62;
          font-weight: bold;
          background: #fff;
          border: 2px solid #008B62;
          border-radius: 7px;
          padding: 6px 18px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & svg {
            margin-right: 5px;
          }
        }
      }
    }

    & button {
      margin-top: 30px;
      padding: 10px 0;
      width: 100%;
    }

    .signIn__title {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      font-size: 42px;
      font-weight: 600;
      line-height: 49.22px;
      color: #ffffff;
    }

    .signIn__inputs {
      text-align: center;

      .error__message {
        color: #cd3d64;
        width: 464px;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 5px;

        & svg {
          fill: #cd3d64;
          margin-right: 5px;
        }
      }

      .reset {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        &__title {
          text-decoration: none;
          color: #E8920B;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.09px;
        }
      }

      .signIn__input {
        box-sizing: border-box;
        width: 100%;
        height: 63px;
        border-radius: 10px;
        border: none;
        padding: 0 30px;
        background-color: #FFFFFFB2;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .signIn__input:focus {
        outline: none;
        background-color: #FFFFFFB2;
      }

      .signIn__input::placeholder {
        color: #135F55;
        font-size: 18px;
        font-weight: 600;
      }
    }

    .signIn__or {
      color: #E8920B;
      text-align: center;
    }

    .software__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .software__icons__box {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        width: 86px;
        height: 63px;

        .software__icons__img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .signIn__btn {
      margin-top: 40px;
    }
  }
}
