.ticket {
  background-color: #252525;
  padding-top: 30px;

  &__movie__title {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 600;
    color: #FFFFFF;
  }

  &__movie__hour {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
  }

  &__box {
    display: flex;

    &__movie {
      display: flex;
      margin-bottom: 30px;
    }

    .categories__days {
      display: flex;

      .days {
        margin: 0 30px;

        &__weeks {
          margin-bottom: 15px;
          text-align: center;
          font-size: 17.34px;
          font-weight: 600;
          color: #FFFFFF;

        }

        &__day {
          margin-bottom: 15px;
          text-align: center;
          font-size: 45.51px;
          font-weight: 600;
          color: #FFFFFF;
        }

        &__month {
          text-align: center;
          font-size: 17.34px;
          font-weight: 600;
          color: #FFFFFF;
        }
      }
    }
  }

  .border__box {
    margin: 20px 30px;

    .border {
      margin-bottom: 20px;
      border: 1px dashed #E8920B;
      width: 100%;
    }

    .border__hour {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      width: 72.87px;
      height: 46.84px;
      border-radius: 21.67px;
      background-color: #135F55;
      font-size: 15.17px;
      font-weight: 600;
      color: #FFFFFF;
    }
  }
}
