.orange__btn {
  padding: 8px 42px;
  border-radius: 20px;
  box-shadow: -6px -6px 22px 0 #00000080 inset;
  background: #E8920B;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  color: #fff;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background: #D89730;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.13px;
    color: #000;
    box-shadow: -6px -6px 22px 0 #00000080 inset;
  }

  &:active {
    background: #A56808;
    box-shadow: -6px -6px 22px 0 #00000080 inset;
    color: #fff;
  }
}

.green__btn {
  padding: 8px 44px;
  background: #135F55;
  box-shadow: -6px -6px 22px 0 #00000080 inset;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background: #57A99F;
    box-shadow: 6px 6px 35px 0 #FFFFFF1A inset;
    color: #fff;
  }

  &:active {
    background: #0D312D;
    box-shadow: -6px -6px 22px 0 #00000080 inset;
  }
}

.empty__btn {
  padding: 8px 46px;
  border: 3px solid #E8920B;
  border-radius: 20px;
  color: #E8920B;
  background: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;


  &:hover {
    border: 3px solid #E8920B;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%) inset;
  }

  &:active {
    border: 3px solid #000000;
    color: #000;
  }
}
