.cinema__home__latest__cart {
  width: 32%;
  margin: 0 8px;
  padding-top: 58px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}


.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  & .cinema__home__latest__cart {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &.slide-visible .cinema__home__latest__cart {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.cinema__home__latest__cart__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cinema__home__latest__cart__item__img {
  width: 100%;
  height: 519px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 14px;
}

.cinema__home__latest__cart__item__group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & .MuiRating-icon.MuiRating-iconEmpty.css-1c99szj-MuiRating-icon {
    color: #e8920b;
  }
}

.cinema__home__latest__cart__item__group__title {
  color: rgb(255, 255, 255);
  font-family: Roboto, "sans-serif";
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  width: 63%;
}

.cinema__home__latest__cart__item__group__p {
  color: rgb(255, 255, 255);
  font-family: Roboto, "sans-serif";
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.cinema__home__latest__cart__item__dec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 37%;
}

.slide {
  padding: 0 !important;
  margin: 0 10px !important;
}

