.home__carousel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  position: relative;
  margin-bottom: -82px;
}

.carousel__block {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(50% 2%, 51% 2%, 100% 0, 100% 100%, 51% 98%, 50% 98%, 49% 98%, 0 100%, 0 0, 49% 2%);
  border-radius: 20px;

  &::before {
    content: '';
    position: absolute;
    opacity: 44%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    z-index: 5555;
    position: relative;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__voters {
        margin-bottom: 80px;
        font-size: 16px;
        font-weight: 600;
        line-height: 18.75px;
        color: #fff;
      }

      & div:nth-child(2) {
        margin-bottom: 10px;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        & a {
          font-size: 18px;
          font-weight: 600;
          line-height: 21.09px;
          text-align: left;
          color: #fff;
          text-decoration: none;
          margin-right: 20px;
        }
      }

      &__photo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 61%;
        margin-bottom: 80px;
        position: relative;

        &__block {
          position: absolute;
          margin: 0;
          right: 0;
        }

        & img {
          border-radius: 50%;
          width: 63px;
          height: 63px;
          object-fit: cover;
          margin: 0 4px 10px 0;
        }

        & p {
          font-size: 24px;
          font-weight: 600;
          line-height: 28.13px;
          color: #fff;
          width: 63px;
          height: 63px;
          border-radius: 50%;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      & h2 {
        font-family: Manuale, sans-serif;
        font-size: 42px;
        font-weight: 400;
        line-height: 60.35px;
        letter-spacing: 0.165em;
        text-align: left;
        color: #fff;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      margin-right: 50px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        image-rendering: auto;
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
  }
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__button {
  display: flex;
  font-size: 70px;
  color: #E8920B;
  cursor: pointer;
  position: relative;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;

  &.left {
    left: 115px;
  }

  &.right {
    right: 115px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    color: rgba(232, 146, 11, 0.8);
  }
}

.film.carousel__button.left {
  left: 0;
  background: none;
  border-radius: 1px;
  width: 36px;
  height: 163px;
}

.film.carousel__button.right {
  left: 0;
  background: none;
  border-radius: 1px;
  width: 36px;
  height: 163px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.accordion.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  background-color: #fff0;
  box-shadow: none;
}

.film__box__users {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.accordion.css-1086bdv-MuiPaper-root-MuiAccordion-root {
    background-color: #fff0;
    box-shadow: none;
    width: 100%;
  }
}

.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded.MuiAccordionSummary-gutters.accordion__block.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {
  margin: 0;
}

.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-eqpfi5-MuiAccordionSummary-content {
  margin: 0;
}

.MuiAccordionSummary-expandIconWrapper.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  & svg {
    display: none;
  }
}

.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-eqpfi5-MuiAccordionSummary-content {
  .accordion__block__length {
    display: none;
  }
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  & svg {
    display: inline-block;
    fill: #fff;
  }
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
  display: flex;
  flex-wrap: wrap;
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-eqpfi5-MuiAccordionSummary-content {
  align-items: center;
}

.accordion__block__length {
  position: absolute;
  right: 0;
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  position: absolute;
  right: 0;
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
  padding: 0 16px 16px;
}
