.sign__in__input {
  background: #fff;
  border-radius: 10px;
  font-weight: 600;
  text-align: left;
  color: #135F55;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 18px;
  line-height: 21.09px;

  &::placeholder {
    color: #135F55;
    letter-spacing: 0;
    font-weight: 700;
    text-align: left;
    font-size: 18px;
    line-height: 21.09px;
  }

  &:focus-visible {
    background: rgba(255, 255, 255, 0.6980392157);
  }
}

.sign__up__input {
  border-radius: 10px;
  border: 2px solid #135F55;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.09px;
  text-align: left;
  color: #135F55;
  outline: none;
  padding: 20px;
  width: 42%;
  margin-bottom: 5px;

  &::placeholder {
    color: #135F55;
  }

  &:focus-visible {
    background: rgba(255, 255, 255, 0.6980392157);
  }


  &__file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &__label {
      border: 2px solid #135F55;
      background: #FFFFFF;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.09px;
      padding: 20px;
      color: #135F55;
      cursor: pointer;
      position: relative;
      margin-bottom: 5px;
    }

    &__label.img {
      border-radius: 10px;
      padding: 80px;
      color: #135F55;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
    }

    &__img {
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__card {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #135F55;
    background: #fff;
    color: #135F55;
    outline: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 5px;

    &::placeholder {
      color: #135F55;
    }

    &:focus-visible {
      background: rgba(255, 255, 255, 0.6980392157);
    }

    &__date {
      border-radius: 10px;
      border: 2px solid #135F55;
      background: #FFFFFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
      text-align: center;
      padding: 27px 0;
      color: #135F55;
      outline: none;
      width: 108px;
      height: 78px;
      margin-bottom: 5px;

      &::placeholder {
        color: #135F55;
      }

      &:focus-visible {
        background: rgba(255, 255, 255, 0.6980392157);
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
