* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
  background: #000;
}


body {
  font-size: 16px;
  background: #fff;
  color: #000;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
